html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;

  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}

button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* my styles */

.error-page {
  min-height: calc(100vh - 2 * var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-page p {
  text-align: center;
}

.backdrop {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #00000070;
}

.close-modal {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.form-submit-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-submit-modal-content svg {
  font-size: 60px;
}

.form-submit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--tertiary-text-color);
  min-width: 200px;
  min-height: 160px;
  width: 30vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 10;
  /* animation: fadeIn 200ms linear forwards; */
}

.page-header,
.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  min-height: var(--header-height);
  color: var(--main-text-color);
  width: 100%;
}

header .heading {
  color: var(--main-text-color);
  font-size: 1em;
  text-rendering: optimizeLegibility;
  line-height: 1.52;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-title {
  color: var(--main-text-color);
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.53;
  letter-spacing: 4.08px;
  text-align: center;
}

.row {
  display: flex;
}

input.invalid.touched,
textarea.invalid.touched {
  color: red !important;
}

.register-input-container {
  position: relative;
}

.register-textarea-container {
  width: 100%;
}

.register-input {
  border: 3px solid var(--main-text-color);
  box-shadow: 3px 13px 43px 0 rgba(55, 234, 255, 0.3);
  color: var(--main-text-color);
  padding: 10px 20px;
  background: var(--background-color);
  border-radius: 50px;
  width: 300px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 2.72px;
}
.left-input {
  margin-right: 100px;
}
.input-row {
  margin-bottom: 50px;
}

.register-input-error-message {
  position: absolute;
  color: var(--tertiary-text-color);
  left: 5%;
  top: -30px;
}

/* home-slide styles */
.home-slide {
  background-color: var(--background-color);
  background: url("../images/UpdatedModel.png"), var(--background-color);
  background-repeat: no-repeat;
  background-position: right;
  /* min-height: calc(100vh - var(--header-height)); */
  height: 100%;
  position: relative;
  padding-bottom: 100px;
}

.m-top-50 {
  margin-top: 50px;
}
.logo-container {
  width: 100px;
  height: 80px;

  z-index: 2;
}

.home-slide-title {
  color: var(--main-text-color);
  font-size: 4em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 6px;
  text-align: center;
  z-index: 2;
}

.home-slide-subtitle {
  color: var(--tertiary-text-color);
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 2.72px;
  max-width: 700px;
  z-index: 2;
}

.register-link {
  font-family: "Poppins", "sans-serif";
  color: var(--main-text-color);
  padding: 15px 20px;
  border: 1px solid var(--main-text-color);
  border-radius: 20px;
  margin-top: 60px;
  transition: 200ms linear all;
  z-index: 2;
}

.register-link:hover {
  background: var(--main-text-color);
  border: 1px solid #00000000;
  color: black;
}

.home-slide-down-icon-container {
  /* background: pink; */
  position: relative;
  bottom: -20px;
  z-index: 2;
}
.home-slide-down-icon-container svg {
  color: var(--tertiary-text-color);
  cursor: pointer;
  font-size: 2em;
}

/* features slide styles */

.features-slide {
  background: var(--background-color);
  min-height: 100vh;
  padding: 40px 0;
  /* margin-bottom: 50px; */
}

.features-list {
  display: flex;
  width: 100%;
  /* background: pink; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: red; */
  margin-bottom: 20px;
  width: 50%;
}

.feature-card-img-container {
  width: 350px;
  height: 350px;
}

.feature-card-title {
  color: var(--secondary-text-color);
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 2.24px;
  text-align: center;
  max-width: 200px;
}

/* upcoming slide styles */

.upcoming-slide {
  min-height: 100vh;
  padding: 40px 0;
}

.upcoming-features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 70%;
}

.st0 {
  stroke: black;
  fill: #00000000;
}

.svg-styles {
  width: 150px;
  height: auto;
  margin-bottom: 35px;
  margin-top: 100px;
}

/* register form styles */

.register-form-slide {
  background: var(--background-color);
  width: 100%;
  min-height: 100vh;
}

.register-feedback {
  width: 100%;
}

.register-btn {
  background: var(--main-text-color);
  border: 1px solid #00000000;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 3.04px;
  font-family: "Poppins", "sans-serif";
  width: 200px;
  padding: 20px 30px;
  border-radius: 20px;
  margin-left: calc(100% - 200px);
  cursor: pointer;
  transition: 200ms linear all;
}
.register-btn:hover {
  background: #000000;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
}

@media only screen and (max-width: 768px) {
  .home-slide {
    background: url("../images/UpdatedModel.png"), var(--background-color);
    /* background-position-x: 200px; */
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position: right;
  }
  .home-slide-title {
    font-size: 3em;
  }
  .logo-container {
    height: 100px;
  }
  .features-list {
    grid-template-columns: 1fr;
  }
  .upcoming-features-list {
    grid-template-columns: 1fr;
  }
  .feature-card {
    width: 100%;
  }

  .register-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .register-input {
    width: 100%;
    margin: 20px 0;
  }
  .input-row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .left-input {
    margin-right: 0px;
  }
  .register-btn {
    margin-left: auto;
    width: auto;
    margin-top: 20px;
  }
  .register-input-error-message {
    top: -15px;
  }
}

@media only screen and (max-width: 480px) {
  .home-slide {
    background: url("../images/UpdatedModel.png"), var(--background-color);
    /* background-position-x: 200px; */
    background-position-y: -200px;
  }
  .home-slide-title {
    font-size: 2em;
  }
  .home-slide-subtitle {
    font-size: 1em;
  }
  .m-top-50 {
    margin-top: 20px;
  }
}

:root {
  --main-text-color: #37eaff;
  --secondary-text-color: #ffba13;
  --tertiary-text-color: #f5f5f5;
  --background-color: #000000;
  --header-height: 40px;
}
